*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.home{
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-y: hidden;
    overflow-x: hidden;
    background-image: url("https://img.freepik.com/free-vector/halftone-background-with-circles_23-2148907689.jpg?size=626&ext=jpg&ga=GA1.2.1208338976.1687582175&semt=ais");
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
}