.main-container {
    width: 100vw;
    height: 100%;
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    overflow: auto;
    background-image: url("https://img.freepik.com/free-vector/halftone-background-with-circles_23-2148907689.jpg?size=626&ext=jpg&ga=GA1.2.1208338976.1687582175&semt=ais");
    display: flex;
    flex-direction: column; 
    align-items: center;
  }
  
  .sub-container-a {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; 
  }
  
  .sub-container-b {
    width: 100vw; 
    padding: 50px; 
    background-color:transparent; 
    border-radius: 10px; 
  }
  